@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  background: #f2ecec;
  font-family: 'Open Sans', sans-serif;
}

table {
  empty-cells: show;
}



.content-section {
  background: #ffffff;
  padding: 30px 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.searchBar {
  padding: 30px 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.padded {
  padding-left: 30px;
  padding-right: 30px;
}

.subtotal {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}